= provide(:title, "Sign in")
%h1 Sign in
.row
  .span6.offset3
    = simple_form_for(:session, url: sessions_path, html: {class: 'form-horizontal sign_form' }) do |f|

      = f.input :email
      = f.input :password
      .btn_f
        =  f.button :submit,  "Sign in", class: "btn btn-large btn-primary fr"
    %p.centr
      New user?
      = link_to "Sign up now!", signup_path